/* stylelint-disable */
body {
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: #3498db;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}
